# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-nodejs

name: CI

on:
  push:
    branches: [ "*" ]
  pull_request:
    branches: [ "*" ]

jobs:
  run_ui_unit_tests:
    name: Run UI Unit Tests
    runs-on: ubuntu-latest
    defaults:
      run: 
        working-directory: frontend
    # # Not needed for now because only one node version is used
    # strategy:
    #   matrix:
    #     node-version: [24.2.0]
    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js 24.2.0
        uses: actions/setup-node@v5
        with:
          node-version: 24.2.0
          cache: 'npm'
          cache-dependency-path: frontend/package-lock.json
      - run: npm ci
      - run: npm run build
      - run: npm run lint
      - run: npm test

  run_dotnet_unit_tests:
    name: Run .NET Unit Tests
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: backend/tests/RecordTracker.UnitTests
    steps:
      - uses: actions/checkout@v4
      - name: Setup .NET
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: 8.0.411
      - name: Restore dependencies
        run: dotnet restore
      - name: Build
        run: dotnet build --no-restore
      - name: Test
        run: dotnet test --no-build --verbosity normal